html
    head
        meta(charset = 'utf-8')
        meta(
            name = 'viewport'
            content = 'width=device-width, initial-scale=1.0'
        )
        
        link(
            rel = 'stylesheet'
            href = 'assets/bootstrap-4.5.2-dist/css/bootstrap.css'
        )
        link(
            rel = 'stylesheet'
            href = 'css/hero_section.css'
        )
        link(
            rel = 'stylesheet'
            href = 'css/cart.css'
        )
        link(rel='stylesheet' href='assets/icomoon-v1.0 (1)/fonts/icomoon.ttf')
        link(rel='stylesheet' href='assets/icomoon-v1.0 (1)/style.css')
        title main page
    body